// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 80px;
$nav-background: #FFF;
$nav-font-color: #000;
$link-hover-color: #fff;
// Outer navigation wrapper
.navigation {
    height: $nav-height;
    background: $nav-background;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 40px hsl(0deg 0% 6% / 5%);
    font-family: $main_heading_font;
}

// Logo and branding
.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;
    a,
    a:visited {
        color: $nav-font-color;
        text-decoration: none;
    }
}

// Container with no padding for navbar
.nav-container {
    max-width: $content-width;
    margin: 0 auto;
}

// Navigation 
nav {
    float: right;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            position: relative;
            a,
            a:visited {
                display: block;
                padding: 0 10px;
                line-height: $nav-height;
                background: $nav-background;
                color: $nav-font-color;
                text-decoration: none;
                &:hover {
                    background: $link-hover-color;
                    color: $nav-font-color;
                }
                &:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                }
            } // Dropdown list
            ul li {
                min-width: 190px;
                a {
                    padding: 15px;
                    line-height: 20px;
                    img {
                        padding-right: 10px;
                    }
                    span {
                        font-weight: 100 !important;
                    }
                    .view-all-btn {
                        @include button($btn-light-color, $btn-light-color, $btn-color);
                    }
                }
            }
        }
    }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}


/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: $nav-background;
    height: $nav-height;
    width: $nav-height;
}

@media only screen and (max-width: 798px) {
    // Hamburger nav visible on mobile only
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: $nav-height 0 15px;
        ul {
            display: none;
            li {
                float: none;
                a {
                    padding: 15px;
                    line-height: 20px;
                }
                ul li a {
                    padding-left: 30px;
                }
            }
        }
    }
    .nav-dropdown {
        position: static;
    }
}

.navCart {
    position: relative;
}

.cartCount {
    position: absolute;
    top: 22px;
    left: 19px;
    background: $btn-light-color;
    padding: 1px 4px;
    font-size: 10px;
    border-radius: 100%;
}

.cartImg {
    width: 60px;
}

@media screen and (min-width: $breakpoint) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 25px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 2px;
        width: 20px;
        background: $nav-font-color;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }
    span:before {
        top: -7px;
    }
    span:after {
        bottom: -7px;
    }
    &.active span {
        background-color: transparent;
        &:before,
        &:after {
            top: 0;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}

nav ul li a:nth-child(9)::after {
    content: "" !important;
}

// Responsive Cart & Search section
.mobile-cart,
.mobile-search {
    display: none;
}

// Responsive Cart & Search section End
// ---------------- Mobile Screen cart & search
@media only screen and (max-width: 798px) {
    .web-cart {
        display: none;
    }
    .mobile-cart {
        display: block;
        position: absolute;
        top: 0;
        padding: 22px 0;
        @include md {
            right: 15%;
        }
        @include sm {
            right: 24%;
            z-index: 1;
        }
        img {
            width: 20px;
        }
    }
    .mobile-search {
        display: block;
        position: absolute;
        top: 0;
        padding: 22px 0;
        @include md {
            right: 23%;
        }
        @include sm {
            right: 35%;
        }
        img {
            width: 20px;
        }
    }
}

// ----------------